.react-pdf__Document {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 50px;
  align-items: center;
  box-sizing: border-box !important;
  min-height: 100vh !important;
  max-height: 100vh !important;
  z-index: 0;
}

.react-pdf__Page {
  position: static !important;
  min-width: 0 !important;
  max-width: 90% !important;
}

.react-pdf__Page__svg {
  overflow: scroll !important;
  width: 100% !important;
  height: 100% !important;
}

.react-pdf__Page__annotations.annotationLayer {
  width: 0 !important;
  height: 0 !important;
}