.CalibrationPopup__buttons-wrapper {
  margin: 30px 0 18px;
  display: flex;
  column-gap: 15px;
}

.CalibrationPopup__button {
  min-width: 117px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.55);
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  background-color: #eeeeee;
  cursor: pointer;
}

.CalibrationPopup__button:hover {
  background-color: #e1e1e1;
}

.CalibrationPopup__button_disabled {
  opacity: .7;
  cursor: default;
}

.CalibrationPopup__button_disabled:hover {
  background-color: #eeeeee;
}