.Navbar {
  width: 100%;
  height: 65px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ECF0F1;
  color: #000;
  background-color: #fff;
  z-index: 3;
}

.Navbar__links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.Navbar__links-right {
  margin: 0 15px 0 0;
  column-gap: 10px;
  height: 100%;
}

.Navbar__links-left {
  margin: 0 0 0 10px;
  column-gap: 15px;
  height: 100%;
}

.Navbar__link-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.Navbar__icon {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 70px;
  background-image: url("../../images/mtuci_hor.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

